body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  font-family: sans-serif;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  gap: 10px;
  background: #0585fd;
  padding: 20px;
  border-radius: 30px;
}

.disprei {
  grid-column: 1 / -1;
  background: black;
  color: rgb(193, 201, 193);
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
}

button {
  font-size: 1.5rem;
  background: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #ccc;
}